/* line 4, D:/workspace/Github/milenalates.com/scss/main.scss */
body h1, body h2, body h3, body h4, body h5 {
  font-family: "Hammersmith One", sans-serif;
}

/* line 7, D:/workspace/Github/milenalates.com/scss/main.scss */
body p, body a {
  font-family: "Arial", sans-serif;
  font-size: 15px;
}

/* line 13, D:/workspace/Github/milenalates.com/scss/main.scss */
.vertical-align {
  display: flex;
  align-items: center;
}

/* line 17, D:/workspace/Github/milenalates.com/scss/main.scss */
#home {
  background: url(../images/first-background.jpg) no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

/* line 24, D:/workspace/Github/milenalates.com/scss/main.scss */
#home h1 {
  display: inline-block;
  font-size: 64px;
  color: white;
}

/* line 29, D:/workspace/Github/milenalates.com/scss/main.scss */
#home h1 span {
  color: #d56400;
  font-family: "Hammersmith One", sans-serif;
}

/* line 34, D:/workspace/Github/milenalates.com/scss/main.scss */
#fix-menu {
  display: none;
  position: fixed;
  z-index: 9999;
  right: 50px;
  top: 50%;
  width: 26px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 46, D:/workspace/Github/milenalates.com/scss/main.scss */
#fix-menu a {
  color: #c3c3c3;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

/* line 52, D:/workspace/Github/milenalates.com/scss/main.scss */
#fix-menu a:hover {
  background-color: #e68733;
}

/* line 55, D:/workspace/Github/milenalates.com/scss/main.scss */
#fix-menu a:active {
  background-color: #e68733;
}

/* line 62, D:/workspace/Github/milenalates.com/scss/main.scss */
.menu-links {
  display: inline-block;
  font-size: 15px;
  margin: 10px 0;
  min-width: 16px;
  padding: 10px 20px;
}

/* line 68, D:/workspace/Github/milenalates.com/scss/main.scss */
.menu-links:hover, .menu-links:active, .menu-links:focus {
  text-decoration: none;
}

/* line 73, D:/workspace/Github/milenalates.com/scss/main.scss */
.menu-links i {
  min-width: 18px;
  font-size: 18px;
}

/* line 78, D:/workspace/Github/milenalates.com/scss/main.scss */
.transition {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

@media only screen and (max-width: 991px) {
  /* line 86, D:/workspace/Github/milenalates.com/scss/main.scss */
  .slick-custom-nav {
    margin-top: 0;
    cursor: pointer;
  }
}

@media only screen and (max-width: 930px) {
  /* line 94, D:/workspace/Github/milenalates.com/scss/main.scss */
  #fix-menu {
    position: fixed;
    bottom: -1px;
    right: auto;
    top: auto;
    width: 100%;
    height: 45px;
    transform: none;
    text-align: center;
    background-color: #3F3F3F;
  }
  /* line 105, D:/workspace/Github/milenalates.com/scss/main.scss */
  #fix-menu a {
    display: inline-block;
    height: 45px;
    margin: 0;
    border: none;
  }
}

/*End Scroll menu*/
/* line 117, D:/workspace/Github/milenalates.com/scss/main.scss */
h3.description-title {
  color: white;
}

/* line 120, D:/workspace/Github/milenalates.com/scss/main.scss */
.section-white {
  padding: 40px 0px 40px 0px;
}

/* line 123, D:/workspace/Github/milenalates.com/scss/main.scss */
.section-white .heading-white {
  margin-bottom: 50px;
  display: inline-block;
  border-bottom: 2px solid #d56400;
}

/* line 129, D:/workspace/Github/milenalates.com/scss/main.scss */
.section-white p {
  color: #000;
  padding-top: 3px;
  font-family: "Arial", sans-serif;
}

/* line 137, D:/workspace/Github/milenalates.com/scss/main.scss */
.section-dark {
  background: url("../images/subtle_carbon_@2X.png") repeat;
  padding: 40px 0px 40px 0px;
}

/* line 140, D:/workspace/Github/milenalates.com/scss/main.scss */
.section-dark h2 {
  color: white;
  margin-bottom: 40px;
  display: inline-block;
  border-bottom: 2px solid #d56400;
}

/* line 149, D:/workspace/Github/milenalates.com/scss/main.scss */
.about-skills h6 {
  color: #000;
}

/* line 153, D:/workspace/Github/milenalates.com/scss/main.scss */
.progress-bar-warning {
  background-color: #d56400;
}

/*Timeline*/
/* line 157, D:/workspace/Github/milenalates.com/scss/main.scss */
.timeline-centered {
  position: relative;
  margin-bottom: 30px;
}

/* line 160, D:/workspace/Github/milenalates.com/scss/main.scss */
.timeline-centered:before, .timeline-centered:after {
  content: " ";
  display: table;
}

/* line 166, D:/workspace/Github/milenalates.com/scss/main.scss */
.timeline-centered:after {
  clear: both;
}

/* line 170, D:/workspace/Github/milenalates.com/scss/main.scss */
.timeline-centered:before {
  content: '';
  position: absolute;
  display: block;
  width: 4px;
  background: #ccc;
  left: 50%;
  top: 20px;
  bottom: 20px;
  margin-left: -4px;
}

/* line 181, D:/workspace/Github/milenalates.com/scss/main.scss */
.timeline-centered .timeline-entry {
  position: relative;
  width: 50%;
  float: right;
  margin-bottom: 40px;
  clear: both;
}

/* line 189, D:/workspace/Github/milenalates.com/scss/main.scss */
.timeline-centered .timeline-entry.left-aligned {
  float: left;
}

/* line 191, D:/workspace/Github/milenalates.com/scss/main.scss */
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
  margin-left: 0;
  margin-right: -18px;
}

/* line 194, D:/workspace/Github/milenalates.com/scss/main.scss */
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
  left: auto;
  right: -140px;
  text-align: left;
}

/* line 199, D:/workspace/Github/milenalates.com/scss/main.scss */
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {
  float: right;
}

/* line 202, D:/workspace/Github/milenalates.com/scss/main.scss */
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
  margin-left: 0;
  margin-right: 70px;
}

/* line 205, D:/workspace/Github/milenalates.com/scss/main.scss */
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after {
  left: auto;
  right: 0;
  margin-left: 0;
  margin-right: -9px;
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 221, D:/workspace/Github/milenalates.com/scss/main.scss */
.timeline-centered .timeline-entry .timeline-entry-inner {
  position: relative;
  margin-left: -22px;
}

/* line 226, D:/workspace/Github/milenalates.com/scss/main.scss */
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
  position: absolute;
  left: -140px;
  text-align: right;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 236, D:/workspace/Github/milenalates.com/scss/main.scss */
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
  display: block;
  width: 40px;
  height: 40px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-align: center;
  -moz-box-shadow: 0 0 0 4px #ccc;
  -webkit-box-shadow: 0 0 0 4px #ccc;
  box-shadow: 0 0 0 4px #ccc;
  line-height: 40px;
  font-size: 15px;
  float: left;
}

/* line 255, D:/workspace/Github/milenalates.com/scss/main.scss */
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-primary {
  padding-top: 3px;
  background-color: #df6900;
  color: #fff;
}

/* line 261, D:/workspace/Github/milenalates.com/scss/main.scss */
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-secondary {
  background-color: #df6900;
  padding-top: 3px;
  color: #fff;
}

/* line 266, D:/workspace/Github/milenalates.com/scss/main.scss */
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
  margin-left: 70px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 275, D:/workspace/Github/milenalates.com/scss/main.scss */
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 9px 9px 0;
  border-color: transparent #ccc transparent transparent;
  left: 0;
  top: 10px;
  margin-left: -9px;
}

/* line 288, D:/workspace/Github/milenalates.com/scss/main.scss */
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
  color: #fff;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  margin: 0;
  line-height: 1.428571429;
}

/* line 296, D:/workspace/Github/milenalates.com/scss/main.scss */
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h4 {
  color: #d56400;
  font-size: 16px;
  margin-bottom: 5px;
}

/* line 302, D:/workspace/Github/milenalates.com/scss/main.scss */
.timeline-time {
  color: #fff;
  font-family: "Arial", sans-serif;
}

/* line 309, D:/workspace/Github/milenalates.com/scss/main.scss */
.ih-item.square.effect6 .info h3 {
  background: #d56400;
  font-size: 14px;
}

/* line 313, D:/workspace/Github/milenalates.com/scss/main.scss */
.ih-item.square.effect6 .info p {
  color: #ccc;
  font-family: "Arial", sans-serif;
}

/* line 318, D:/workspace/Github/milenalates.com/scss/main.scss */
.ih-item.square.effect6 .info
.ih-item.square {
  border: 4px solid #ccc;
  height: inherit;
  margin-bottom: 20px;
}

/*contact*/
/* line 328, D:/workspace/Github/milenalates.com/scss/main.scss */
.control-label {
  margin-bottom: 10px;
}

/* line 331, D:/workspace/Github/milenalates.com/scss/main.scss */
.inputGroupContainer {
  margin-bottom: 30px;
}

/* line 334, D:/workspace/Github/milenalates.com/scss/main.scss */
.google-map {
  width: 100%;
  height: 350px;
}

/* line 338, D:/workspace/Github/milenalates.com/scss/main.scss */
.glyphicon.glyphicon-user, .glyphicon-envelope, .glyphicon-pencil {
  color: #d56400;
}

/*footer*/
/* line 342, D:/workspace/Github/milenalates.com/scss/main.scss */
.footer-section {
  background-color: #282828;
  padding-top: 30px;
  padding-bottom: 30px;
}

/*My name is Milena, and I am graduated lawyer who lives in a world of designs */
/* line 351, D:/workspace/Github/milenalates.com/scss/main.scss */
.design-by {
  color: #545454;
  font-size: 10px;
  padding-top: 20px;
}

/* line 357, D:/workspace/Github/milenalates.com/scss/main.scss */
.social-icon {
  color: #fff;
}

/* line 360, D:/workspace/Github/milenalates.com/scss/main.scss */
ul.social-icons {
  margin-top: 10px;
  padding-left: 0;
}

/* line 365, D:/workspace/Github/milenalates.com/scss/main.scss */
.social-icons li {
  vertical-align: top;
  display: inline;
  height: 100px;
}

/* line 370, D:/workspace/Github/milenalates.com/scss/main.scss */
.social-icons a {
  color: #fff;
  text-decoration: none;
}

/* line 376, D:/workspace/Github/milenalates.com/scss/main.scss */
.fa-facebook {
  padding: 10px 14px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #322f30;
}

/* line 384, D:/workspace/Github/milenalates.com/scss/main.scss */
.fa-facebook:hover {
  background-color: #3d5b99;
}

/* line 389, D:/workspace/Github/milenalates.com/scss/main.scss */
.fa-linkedin {
  padding: 10px 14px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #322f30;
}

/* line 397, D:/workspace/Github/milenalates.com/scss/main.scss */
.fa-linkedin:hover {
  background-color: #0073a4;
}

/* line 402, D:/workspace/Github/milenalates.com/scss/main.scss */
.fa-google-plus {
  padding: 10px 9px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #322f30;
}

/* line 410, D:/workspace/Github/milenalates.com/scss/main.scss */
.fa-google-plus:hover {
  background-color: #e25714;
}

/* line 414, D:/workspace/Github/milenalates.com/scss/main.scss */
ul.social-icons {
  margin-top: -10px;
}

/* line 417, D:/workspace/Github/milenalates.com/scss/main.scss */
.fa-github {
  padding: 10px 14px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #322f30;
}

/* line 425, D:/workspace/Github/milenalates.com/scss/main.scss */
.fa-github:hover {
  background-color: #4078c0;
}

/* line 430, D:/workspace/Github/milenalates.com/scss/main.scss */
.ih-item.square {
  width: 100%;
}

/*# sourceMappingURL=../css/main.map */