// Defining Global Variables
$margin-xl: 50px;
$base-font-family:'Hammersmith One', sans-serif;
$base-font-family-p-a:'Arial', sans-serif;
$font-size-p-a:15px;
$primary-color:#333;
$secondary-color:#d56400;
$secondary-color-a:#df6900;
$footer-back-color:#282828;
$dark-background:'../images/subtle_carbon_@2X.png';
$padding-top-bottom:40px 0px 40px 0px;